src/main/app/lcstracker-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" 
xmlns:db="http://www.mulesoft.org/schema/mule/db" 
xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" 
xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
xmlns="http://www.mulesoft.org/schema/mule/core" 
xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" 
xmlns:http="http://www.mulesoft.org/schema/mule/http" 
xmlns:spring="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security"
xmlns:ss="http://www.springframework.org/schema/security"
xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/3.1/mule-spring-security.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd"
>
  
    <flow name="lcsTracker-main">
        <http:listener config-ref="lcsTracker-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <set-property propertyName="trace-id" value="#[toUUID()]" doc:name="Set UUID"/>
		<mule-ss:http-security-filter realm="mule-realm" doc:name="Security Filter"/>
        <apikit:router config-ref="lcsTracker-config" doc:name="APIkit Router"/>
        <exception-strategy ref="global_exceptionMapper" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="lcsTracker-console">
        <http:listener config-ref="lcsTracker-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="lcsTracker-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="players_putPlayer_flow">
        <flow-ref name="players_putPlayer_subFlow" doc:name="Call putPlayer subFlow"/>


    </flow>
    <flow name="teams_putTeam_flow">
        <flow-ref name="teams_putTeam_subFlow" doc:name="Call putTeam subFlow"/>

    </flow>
    <flow name="players_deletePlayer_flow">
        <flow-ref name="players_deletePlayer_subFlow" doc:name="Call deletePlayer subFlow"/>

    </flow>
    <flow name="teams_deleteTeam_flow">
        <flow-ref name="teams_deleteTeam_subFlow" doc:name="Call deleteTeam subFlow"/>

    </flow>
    <flow name="players_getPlayersByRole_flow">
        <flow-ref name="players_getPlayersByRole_subFlow" doc:name="Call getPlayersByRole subFlow"/>

    </flow>
    <flow name="teams_getTeamsByRegion_flow">
        <flow-ref name="teams_getTeamsByRegion_subFlow" doc:name="Call getTeamsByRegion subFlow"/>

    </flow>
    <flow name="players_getPlayerByIgn_flow">
        <flow-ref name="players_getPlayerByIgn_subFlow" doc:name="Call getPlayerByIgn subFlow"/>

        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
    <flow name="teams_getTeamByTag_flow">
        <flow-ref name="teams_getTeamByTag_subFlow" doc:name="Call getTeamByTag subFlow"/>

        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
    <flow name="players_postPlayers_flow">
        <flow-ref name="players_postPlayers_subFlow" doc:name="Call postPlayers subFlow"/>

        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
    <flow name="teams_postTeams_flow">
        <flow-ref name="teams_postTeams_subFlow" doc:name="Call postTeams subFlow"/>

        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="global_exceptionMapper">
        <apikit:mapping statusCode="500">
            <apikit:exception value="java.sql.SQLIntegrityConstraintViolationException"/>
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{
&quot;message&quot;: &quot;Duplicate attempt sent to SQL server&quot;
}" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
