src/main/app/lcsTracker.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="lcsTracker-httpListenerConfig" host="0.0.0.0" port="${http.port}" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="lcsTracker-config" raml="lcsTracker.raml" consoleEnabled="false" doc:name="Router"/>
    <db:mysql-config name="MySQL_Configuration" host="192.168.99.100" port="3306" user="basic" password="lowpass" database="lcstracker" doc:name="MySQL Configuration"/>
    <flow name="lcsTracker-main">
        <http:listener config-ref="lcsTracker-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="lcsTracker-config" doc:name="APIkit Router"/>
        <exception-strategy ref="lcsTracker-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="lcsTracker-console">
        <http:listener config-ref="lcsTracker-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="lcsTracker-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="put:/teams/{tag}/players/{ign}:application/json:lcsTracker-config">
        <flow-ref name="putPlayer" doc:name="Flow Reference"/>
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>

    </flow>
    <flow name="put:/teams/{tag}:application/json:lcsTracker-config">
        <flow-ref name="putTeam" doc:name="Flow Reference"/>
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
    <flow name="delete:/teams/{tag}/players/{ign}:lcsTracker-config">
        <flow-ref name="deletePlayer" doc:name="Flow Reference"/>

        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="delete:/teams/{tag}:lcsTracker-config">
        <flow-ref name="deleteTeam" doc:name="Flow Reference"/>

        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/teams/{tag}/players:lcsTracker-config">
        <flow-ref name="getPlayers" doc:name="Flow Reference"/>

        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/teams:lcsTracker-config">
        <flow-ref name="getTeams" doc:name="Flow Reference"/>

        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/teams/{tag}/players/{ign}:lcsTracker-config">
        <flow-ref name="getPlayerByIgn" doc:name="Flow Reference"/>

        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/teams/{tag}:lcsTracker-config">
        <flow-ref name="getTeamByTag" doc:name="Flow Reference"/>

        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/teams/{tag}/players:application/json:lcsTracker-config">
        <flow-ref name="postPlayers" doc:name="Flow Reference"/>

        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/teams:application/json:lcsTracker-config">
        <flow-ref name="postTeams" doc:name="Flow Reference"/>

        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="lcsTracker-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
