src/main/app/teamservice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="putTeam">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <set-variable variableName="tag" value="#[payload.tag]" doc:name="Variable"/>
        <db:update config-ref="MySQL_Configuration" doc:name="updateQu">
            <db:parameterized-query><![CDATA[UPDATE teams SET team=#[payload.team],tag=#[payload.tag],region=#[payload.region],wins=#[payload.wins],losses=#[payload.losses] WHERE tag=#[message.inboundProperties.'http.uri.params'.tag];]]></db:parameterized-query>
        </db:update>
        <db:select config-ref="MySQL_Configuration" doc:name="getUpdated">
            <db:parameterized-query><![CDATA[SELECT * FROM teams WHERE #[tag];]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload[0]]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="deleteTeam">
        <db:delete config-ref="MySQL_Configuration" doc:name="delete">
            <db:parameterized-query><![CDATA[DELETE * FROM teams WHERE tag=#[message.inboundProperties.'http.uri.params'.tag];]]></db:parameterized-query>
        </db:delete>
    </flow>
    <flow name="getTeams">
        <logger message="#[message.inboundProperties.'http.query.params'.region]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties.'http.query.params'.region=='']">
                <db:select config-ref="MySQL_Configuration" doc:name="noRegion">
                    <db:parameterized-query><![CDATA[SELECT * FROM teams;]]></db:parameterized-query>
                </db:select>
                <logger message="#[message.inboundProperties.'http.query.params'.region]" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <db:select config-ref="MySQL_Configuration" doc:name="region">
                    <db:parameterized-query><![CDATA[SELECT * FROM teams WHERE region=#[message.inboundProperties.'http.query.params'.region];]]></db:parameterized-query>
                </db:select>
            </otherwise>
        </choice>
    </flow>
    <flow name="getTeamByTag">
        <db:select config-ref="MySQL_Configuration" doc:name="getTag">
            <db:parameterized-query><![CDATA[SELECT * FROM teams WHERE tag=#[message.inboundProperties.'http.uri.params'.tag];]]></db:parameterized-query>
        </db:select>
    </flow>
    <flow name="postTeams">
        <dw:transform-message doc:name="toList">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <foreach doc:name="For Each">
            <db:insert config-ref="MySQL_Configuration" doc:name="postTeam">
                <db:parameterized-query><![CDATA[INSERT INTO teams(team,tag,region,wins,losses) VALUES(#[payload['team']],#[payload['tag']],#[payload['region']],#[payload['wins']],#[payload['losses']]);]]></db:parameterized-query>
            </db:insert>
        </foreach>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
